html {
    overflow-y: scroll;
}

.navbar-form .add-on {
    margin-top: 5px;
}

.navbar-form {
    padding-left: 15px;
}

body {
    padding-top: 60px;
}

.navbar .input-append .btn { 
    margin-top: 5px !important; 
}

.wheelchair-filter-checkbox {
    margin-left: -10px !important;
    margin-top: 10px !important;
}

.checkbox {
    padding-right: 10px !important;
    padding-bottom: 15px !important;
}

#label-yes {
    background-image: url(/static/img/yes.png);
}

#label-no {
    background-image: url(/static/img/no.png);
}

#label-limited {
    background-image: url(/static/img/limited.png);
}

#label-unknown {
    background-image: url(/static/img/unknown.png);
}

#label-notfound {
    background-image: url(/static/img/notfound.png);
}

.map > div > img {
    width: 170px; 
    height: 170px;
}

a.edit-wheelchair-status:hover {
    margin-top: -3px;
    padding-bottom: 3px;
}

.table-yes {
    background-color: #75AB43;
}

.table-unknown {
    background-color: #D6D6D6;
}
    
.table-no {
    background-color: #FF4848;
}

.table-limited {
    background-color: #FFCB2F;
}
    

