<!DOCTYPE html>
<html>
  <head>
    <title>SquareWheel - Combining Foursquare and Wheelmap</title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/">SquareWheel</a>
            <ul class="nav">
                <li class="dropdown">
                    <a class ="dropdown-toggle" id="citydrop" data-toggle="dropdown" href="#" >Explore a City <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="citydrop">
                            <li><a id="exploreberlin" tabindex="-1" href="#">Berlin</a></li>
                            <li><a id="explorehamburg" tabindex="-1" href="#">Hamburg</a></li>
                            <li><a id="explorelondon" tabindex="-1" href="#">London</a></li>
                            <li><a id="exploremunchen" tabindex="-1" href="#">München</a></li>
                        </ul>
                    </li>
                <li><a id="lastcheckins" href="#">Last Checkins</a></li>
                <li><a id="todo" href="#">To Do</a></li>
                <li class="divider-vertical"></li>
                <li>
                    <form class="navbar-form">
                        <label class="checkbox">
                            <input id="checkbox-wheelchair-yes" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/yes.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label class="checkbox">
                            <input id="checkbox-wheelchair-limited" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/limited.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label class="checkbox">
                            <input id="checkbox-wheelchair-no" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/no.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label class="checkbox">
                            <input id="checkbox-wheelchair-unknown" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/unknown.png">
                        </label>
                    </form>
                </li>
            </ul>
            <div class="nav pull-right">
                {% if session['foursquare_enabled'] %}
                    <img alt="user" class="img-rounded" src="{{ session['foursquare_icon'] }}"></img>{{ session['foursquare_firstname'] }}
                {% else %}
                    <a href="https://foursquare.com/oauth2/authenticate?client_id={{- client_id -}}&response_type=code&redirect_uri={{- callback_url -}}">
                        <button class="btn btn-primary btn-info" type="button">Login with <img src="{{- url_for('static', filename='foursquare-login.png') -}}"></button>
                    </a>
                {% endif %}
            </div>
          </div>
        </div>
            <div id="venues">
                {% block content %}
                    This page is intetionally left blank.
                {% endblock %}
            </div>
        </div>
     </div>
    <hr class="soften">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="{{- url_for('static', filename='javascript.js')-}}"></script>
  </body>
</html>
