<!DOCTYPE html>
<html>
  <head>
    <title>SquareWheel - Combining Foursquare and Wheelmap</title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
            <a class="brand load-content" href="/">SquareWheel</a>
            <ul class="nav">
                
                <li><form class="navbar-form pull-left input-append input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input class="input-small" id="input-explore-query" type="text" placeholder="Café">
                        <span class="add-on"><i class="icon-map-marker"></i></span>
                        <input class="input-small" id="input-explore-location" type="text" placeholder="Berlin">
                        <button class="btn" id="btn-explore-search" type="submit">Explore</button>
                </form></li>
                <li><a class="load-venues load-content" href="lastcheckins">Last Checkins</a></li>
                <li><a class="load-venues load-content" href="todo">To Do</a></li>
                <li class="divider-vertical"></li>
                <li>
                    <form class="navbar-form">
                        <label id="label-yes" title="Rated as fully wheelchair accesible" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "yes" id="checkbox-wheelchair-yes" type="checkbox" checked="checked">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label id="label-limited" title="Rated as limited wheelchair accesible" data-placement="bottom" rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "limited" id="checkbox-wheelchair-limited" type="checkbox" checked="checked">
                        </label>
                    </form>
                </li>
                <li>
                    <form  class="navbar-form">
                        <label id="label-no" title="Rated as not wheelchair accesible" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "no" id="checkbox-wheelchair-no" type="checkbox" checked="checked">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label id="label-unknown" title="Not rated on wheelmap" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "unknown" id="checkbox-wheelchair-unknown" type="checkbox" checked="checked">
                        </label>
                    </form>
                </li>
               <li>
                    <form class="navbar-form">
                        <label id="label-notfound" title="Venue not found on wheelmap" data-placement="right"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "notfound" id="checkbox-wheelchair-notfound" type="checkbox" checked="checked">
                        </label>
                    </form>
                </li>
            </ul>
                {% if foursquare_firstname %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                          <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                              <img alt="user" style="margin-top: -10px; margin-bottom: -10px;" class="img-rounded" src="{{ foursquare_icon }}"> {{ foursquare_firstname }}
                              <b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/?disconnect=true">Logout</a></li>
                          </ul>
                        </li>
                    </ul>
                {% else %}
                    <div class="nav pull-right">
                        <a href="{{- foursquare_oauth_url -}}" class="btn btn-primary btn-info" type="button">Login with <img src="{{- url_for('static', filename='img/foursquare-login.png') -}}"></a>
                    </div>
                {% endif %}
          </div>
        </div>
        </div>
        <div class="container">
            <div id="venues">
                {% block content %}
                    This page is intetionally left blank.
                {% endblock %}
            </div>
            <div>
                <button style="display:none;" id="loadmore" class="btn btn-primary">Load more <i class="icon-circle-arrow-down icon-white"></i></button>
            </div>
            <div style="display:none" id="loading">
               <span id="loading-text">Loading venues from foursquare... </span>
               <br/>
               <img alt='Loading' src='/static/img/ajax-loader-big.gif'/>
               <hr class='soften'>
            </div>
        <div id="alert-navigation" class="alert alert-error" style="display:none;"></div>
        </div>
            
            <!-- Modal for editing wheelmap nodes -->
            <div id="editwheelmap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Update wheelmap node</h3>
              </div>
              <div class="modal-body">
                <div id="alert-edit-node" class="alert" style="display:none;"></div>
                <form id='form-update-status' class='form-horizontal'><div class='control-group'>
                    <label class='radio'><input type='radio' name='weelchair-status-change' value='yes'>wheelchair accessible</label>
                    <label class='radio'><input type='radio' name='weelchair-status-change' value='limited'>partly wheelchair accessible</label>
                    <label class='radio'><input type='radio' name='weelchair-status-change' value='no'>not wheelchair accessible</label>
                    <label class='radio'><input type='radio' name='weelchair-status-change' value='unknown' checked disabled>unknown status</label>
                </div></form>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="node-update-send" class="btn btn-primary">Update</button>
              </div>
            </div>
            
    <!-- Until I find a proper solution
    <div class="navbar navbar-fixed-bottom">
          <div class="navbar-inner">
              <div class="container">
              <span class="brand">Powered by 
                <a href="http://www.foursquare.com"><img src="{{- url_for('static', filename='img/foursquare_logo.png') -}}" alt="Foursqure"/></a>
                <a href="http://www.wheelmap.org"><img src="{{- url_for('static', filename='img/wheelmap_logo.png') -}}" alt ="Wheelmap"/></a>
                <a href="http://www.openstreetmap.org"><img src="{{- url_for('static', filename='img/osm_logo.png') -}}" alt="OpenStreetMap"/></a>
                </div>
          </div>
    </div>
    -->
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="{{- url_for('static', filename='js/javascript.js')-}}"></script>
  </body>
</html>
