<!DOCTYPE html>
<html>
  <head>
    <title>SquareWheel - Combining Foursquare and Wheelmap</title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/">SquareWheel</a>
            <ul class="nav">
                <li class="dropdown">
                    <a class ="dropdown-toggle" id="citydrop" data-toggle="dropdown" href="#" >Explore a City <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="citydrop">
                            <li><a class="load-venues-link" tabindex="-1" href="explore/berlin">Berlin</a></li>
                            <li><a class="load-venues-link" tabindex="-1" href="explore/hamburg">Hamburg</a></li>
                            <li><a class="load-venues-link" tabindex="-1" href="explore/london">London</a></li>
                            <li><a class="load-venues-link" tabindex="-1" href="explore/muenchen">München</a></li>
                        </ul>
                    </li>
                <li><a class="load-venues-link" href="lastcheckins">Last Checkins</a></li>
                <li><a class="load-venues-link" href="todo">To Do</a></li>
                <li class="divider-vertical"></li>
                <li>
                    <form class="navbar-form">
                        <label title="Rated as fully wheelchair accesible" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "yes" id="checkbox-wheelchair-yes" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/yes.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label title="Rated as limited wheelchair accesible" data-placement="bottom" rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "limited" id="checkbox-wheelchair-limited" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/limited.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label title="Rated as not wheelchair accesible" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "no" id="checkbox-wheelchair-no" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/no.png">
                        </label>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <label title="Not rated on wheelmap" data-placement="bottom"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "unknown" id="checkbox-wheelchair-unknown" type="checkbox" checked="checked"><img src="http://wheelmap.org/marker/unknown.png">
                        </label>
                    </form>
                </li>
               <li>
                    <form class="navbar-form">
                        <label title="Venue not found on wheelmap" data-placement="right"  rel="tooltip" class="checkbox">
                            <input class="wheelchair-filter-checkbox" data-wheelchair = "notfound" id="checkbox-wheelchair-notfound" type="checkbox" checked="checked"><img src="{{- url_for('static', filename='img/notfound.png') -}}">
                        </label>
                    </form>
                </li>
            </ul>
            <div class="nav pull-right">
                {% if session['foursquare_enabled'] %}
                    <img alt="user" class="img-rounded" src="{{ session['foursquare_icon'] }}"></img>{{ session['foursquare_firstname'] }}
                {% else %}
                    <a href="https://foursquare.com/oauth2/authenticate?client_id={{- client_id -}}&response_type=code&redirect_uri={{- callback_url -}}">
                        <button class="btn btn-primary btn-info" type="button">Login with <img src="{{- url_for('static', filename='foursquare-login.png') -}}"></button>
                    </a>
                {% endif %}
            </div>
          </div>
        </div>
            <div id="venues">
                {% block content %}
                    This page is intetionally left blank.
                {% endblock %}
            </div>
            <div style="display:none" id="loadmorevenues">
                <button id="loadmorevenues-button" class="btn btn-primary">Load more <i class="icon-circle-arrow-down icon-white"></i></button>
            </div>
     </div>
    <hr class="soften">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="{{- url_for('static', filename='javascript.js')-}}"></script>
  </body>
</html>
