{% block content %}
            <div class="row-fluid">
                <div class="span5">
                    <h2>Foursquare</h2>
                </div>
                <div class="span5">
                    <h2>Wheelmap</h2>
                </div>
            </div>
    {% for venue in venues %}
        <div class="venue collapse in" data-lat="{{- venue.lat -}}" data-lng="{{- venue.lng -}}" data-name="{{- venue.name -}}">
            <div class="row-fluid">
                <div class="span5 venueheadline">
                    <h3><a target="_blank" href="{{ venue.get_foursquare_venue_url() }}">{{ venue.name }}</a></h3>
                </div>
                <div class="span5">
                    <h3 class="nodeheadline"><span>Loading...</span><a target="_blank" href="http://wheelmap.org/en/nodes/"></a></h3>
                </div>
            </div>
            <div class="row-fluid foursquare">
                <div class="span3">
                {% if fq_logged_in %}
                    <textarea id="comment-text-{{- venue.foursquare_id -}}" rows="2" placeholder="Add a tip.."></textarea>
                    <label class="checkbox">
                        <input type="checkbox" disabled="disabled" class="checkbox-wheelmaplink" id="checkbox-wheelmaplink-{{- venue.foursquare_id -}}" value="wheelmaplink"> Add wheelmap link
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="checkbox-hashtags-{{- venue.foursquare_id -}}" value="hashtags"> Add hashtags
                    </label>
                    <button class="btn btn-success comment-share-button" data-venueid="{{- venue.foursquare_id -}}">Share</button>
                {% endif %}
                </div>
                <div class="span2 map">
                    {{ venue.get_map_with_marker()|safe }}
                </div>
                <div style="display:none;" class="span3 nodeinfo">
                    <table class="table table-bordered">
                        <tr><td>Wheelchair</td>
                            <td><span class="wheelmap-status"></span> <a class="edit-wheelchair-status icon-pencil"></td>
                        </tr>
                        <tr><td>Description</td>
                            <td><span class="wheelmap-description"></span></td></tr>
                        <tr><td>Address</td>
                            <td><address>
                            
                            </address></td></tr>
                    </table>
                </div>
                <div style="display:none;" class="span3 nodenotfound">
                    <p>Look for it yourself on <a class="wheelmap-search-link" href="http://wheelmap.org/en/?lat=0lat0&amp;lon=0lon0&amp;zoom=17">wheelmap</a></p>
                </div>
            </div>
            <hr class="soften">
        </div>
    {% endfor %}
{% endblock %}
