{% block content %}
    {% for venue in venues %}
        <div class="venue collapse in" data-lat="{{- venue.lat -}}" data-lng="{{- venue.lng -}}" data-name="{{- venue.name -}}">
            <div class="row-fluid">
                <div class="span5 venueheadline">
                    <h3>{{ venue.name }}</h3>
                </div>
                <div class="span5">
                    <h3 class="nodeheadline">Loading..</h3>
                </div>
            </div>
            <div class="row-fluid foursquare">
                <div class="span3">
                    <p><a href="{{ venue.get_foursquare_venue_url() }}">Foursquare</a></p>   
                    <address></address>                 
                </div>
                <div class="span2 map">
                    {{ venue.get_map_with_marker()|safe }}
                </div>
                <div style="display:none;" class="span3 nodeinfo">
                    <p><a class="wheelmap-link" href="http://wheelmap.org/en/nodes/">Wheelmap</a><br>
                    Wheelchair: <span class="wheelmap-status"></span><a class="edit-wheelchair-status">[Edit]</a><br>
                    Description: <span class="wheelmap-description"></span></p>
                    <address></address>
                </div>
                <div style="display:none;" class="span3 nodenotfound">
                    <p>Look for it yourself on <a class="wheelmap-search-link" href="http://wheelmap.org/en/?lat=0lat0&amp;lon=0lon0&amp;zoom=17">wheelmap</a></p>
                </div>
            </div>
            <hr class="soften">
        </div>
    {% endfor %}
{% endblock %}
